.container {
  padding: 0 2rem;
}

.home {
  font-family: sans-serif;
  /* margin-top: 100px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.41);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

header img {
  max-height: inherit;
}

.nav-link {
  width: 150px;
}

.item {
  color: #93af37;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  margin: 1em 0;
}

.subitem {
  color: #93af37;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
}

.item:hover {
  color: #b7e912;
}

.header > a,
.links > a {
  color: #93af37;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: sans-serif;
  transition: all 0.3s;
  width: fit-content;
}

.header > a:hover,
.links > a:hover {
  color: #b7e912;
}

.logout {
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.links > a ~ a {
  margin-top: 10px;
}

.header > img:nth-child(1) {
  width: 300px;
  height: 70px;
  cursor: pointer;
}

.header > img:nth-last-child(1) {
  width: 150px;
  height: 70px;
}

.card {
  background-color: #b7e912;
  color: white;
}
