.form {
  max-width: 1150px;
  width: 95%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
}

.form > .form__box {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.form > .form__box > .MuiFormControl-root:nth-child(1) {
  grid-column: 1/3;
}

.form .MuiFormControl-root .MuiTextField-root {
  width: 100%;
}

.form .MuiFormControl-root {
  width: 100%;
}

.buttons {
  margin-left: auto;
  margin-top: 20px;
}

.buttons > .MuiButton-root ~ .MuiButton-root {
  margin-left: 20px;
}

@media (max-width: 835px) {
  .form > .form__box {
    grid-template-columns: repeat(1, minmax(300px, 1100px));
    overflow-y: overlay;
  }
  .form > .form__box > .MuiFormControl-root:nth-child(1) {
    grid-column: 1;
  }
  .buttons {
    width: 100%;
    margin: 20px auto;
  }
}

@media (max-width: 766px) {
  .form {
    flex-wrap: nowrap !important;
    flex-direction: column;
    overflow-y: overlay;
    align-items: center;
    justify-content: flex-start;
    max-height: 100vh !important;
  }

  .form > .form__box {
    width: 100%;
  }

  .form > .MuiTextField-root,
  .form > .form__box > .MuiTextField-root {
    width: 100%;
  }

  .buttons > .MuiButton-root ~ .MuiButton-root {
    margin-left: 0;
    margin-top: 10px;
  }
  .buttons > .MuiButton-root {
    width: 100%;
  }
}
