.form {
  max-width: 1120px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form .MuiFormControl-root .MuiTextField-root {
  width: 100%;
}

.form .MuiFormControl-root {
  margin-bottom: 8px;
  width: 48%;
}
