.inputs {
  width: 80%;
}

.flexForm,
.RaSimpleFormIterator-form {
  width: 100%;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  place-items: center;
}

.flexForm > .ra-input-operarios {
  grid-column: 1/3;
}

.total {
  width: 50%;
  margin: 0 auto !important;
}
